* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #13161b;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h3, h4, p {
    color: #FFFFFF;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.time-period-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2e2e34;
    border-radius: 8px;
}

.segment {
    width: 100%;
    height: 30px;
    padding: 2px;
    border: 0;
    margin: 0;
    color: #FFFFFF;
    background-color: #2e2e34;
}

.left-s {
    border-radius: 8px 0 0 8px;
}

.right-s {
    border-radius: 0 8px 8px 0;
}

.segment.active {
    background-color: #5d5f67;
    border-radius: 8px;
    border: none;
    outline: none;
}

.time-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    height: max-content;
}

.time-buttons.hidden {
    display: none;
}

.time {
    background-color: #13161b;
    border: 1px solid #4d5356;
    border-radius: 15px;
    color: #FFFFFF;
    height: 40px;
}

.time.active {
    background-color: #007bff;
    border: none;
    outline: none;
}

.comment {
    width: 97%;
    border-radius: 12px;
    height: 35px;
    background-color: #2f2d34;
    border: none;
    margin-top: 20px;
    padding-left: 10px;
    color: #FFFFFF;
}

.submit {
    width: 100%;
    border: none;
    border-radius: 12px;
    background-color: #007bff;
    color: #FFFFFF;
    height: 45px;
    margin-top: 20px;
    font-size: 1.1em;
}

.book-btn {
    height: 35px;
    font-size: 1em;
}

.unactive-button {
    background-color: #2b2f36;
    color: #a0adb4;
    pointer-events: none;
    opacity: 0.6;
}

/* =========== TIME SCALE ============ */

header {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;
}

.back, .save {
    color: #176faf;
    font-size: 1.1em;
    margin-top: 40px;
}

.back {
    margin-left: 3%;
}

.save {
    margin-right: 3%;
}

.date {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.2em;
}

.free-time {
    align-self: start;
    margin-left: 5%;
    font-size: 1.1em;
}

.slot-canvas {   
    justify-content: start;
    align-items: start;
    width: 90%;
}

.slot {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #2a292c;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.slot p {
    font-size: 1.2em;
    font-weight: 500;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
    margin-left: auto;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #48454b;
    border-radius: 30px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 31px;
    width: 31px;
    left: 2px;
    bottom: 2px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.switch:has(input:checked) .slider {
    background-color: #00ca52;
}

.switch:has(input:checked) .slider::before {
    transform: translateX(25px);
}

.delete-button {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color: red;
    border-radius: 10px;
    border: none;
}

.delete-button:hover {
    background-color: #a12727;
}

.add-slot-button {
    position: fixed;
    width: 90%;
    bottom: 20px;
}


/* ========== TIME WINDOW =========== */

.overlay {
    position: fixed;
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.time-window {
    position: fixed;
    left: 0; right: 0; bottom: -100%; 
    height: 50vh;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #1c1c1e;
    color: #FFFFFF;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    transition: bottom 0.3s ease, height 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-window.active {
    bottom: 0;
} 

.time-window h3 {
    margin: 0;
}

.time-picker-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.time-box {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2d31;
    padding: 10px;
    padding-top: 0;
    border-radius: 15px;
}

.time-box label {
    color: #8c8b8e;
    font-size: 0.9em;
    margin: 5px;

}

.divider {
    font-size: 1.3em;
    font-weight: 600;
    margin: 10px;
}

.time-input {
    width: 100px;
    background: #2c2c2e;
    color: #FFFFFF;
    font-size: 1.5em;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: monospace;
}

.save-time {
    width: 90%;
}